<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etoak.mapper.DictMapper">

    <select id="queryList" parameterType="string" resultType="Dict">
        SELECT id,
                group_id AS groupId,
                name,
                value,
                sort
            FROM t_springmvc_dict
            WHERE group_id = #{groupId}
            ORDER BY sort
    </select>

</mapper>